<% if user_signed_in? && current_user.Admin? %>
  <%= link_to 'CREATE PRODUCT', new_product_path, class:"btn btn-light mx-1"%>
<% end %>
<%= form_with url: "/products", method: :get do |form| %>
  <%= form.label :query, "Search product:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>
<div class="btn-group" role="group" aria-label="Basic example">
  <div class="d-flex justify-content-around">
    <%= link_to 'Sort by Name ASC', products_path(sort_by_name: 'ASC') , class:'btn btn-light'%>
  </div>
  <div class="d-flex justify-content-around">
    <%= link_to 'Sort by Name DESC', products_path(sort_by_name: 'DESC') , class:'btn btn-light'%>
  </div>
</div>
<div class="container">
  <div class="row row-cols-3">
    <% @products.each do |product|%>
      <div class="col">
        <div class="card focus" style="width: 18rem;">
          <%= link_to product_path(product) do %>
            <%= image_tag('https://cdn5.vectorstock.com/i/1000x1000/84/34/chips-snack-line-icon-vector-37588434.jpg', class: 'card-img-top', style: 'background-color: black;') %>
          <% end %>
          <% if product.stock == 0 %>
            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sold out</div>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%=product.name%></h5>
            <p class="card-text">$<%=product.price%></p>
            <div class='product-card-buttons'>
              <%= link_to 'Buy product', product_path(product), class:'btn btn-light' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
