<!DOCTYPE html>
<html>
  <head>
    <title>Snack store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "styles"%>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Snack Store!</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <% if !user_signed_in? %>
                <%= link_to 'Log in', user_session_path, class: 'dropdown-item' %>
              <% else %>
                <li class="nav-item">
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                </li>
              <% end %>
            </li>
          </ul>
          <% if user_signed_in? %>
            <form class="d-flex" >
              <a class="btn btn-light mx-1" href="/orders" role="button">Cart</a>
            </form>
          <% end %>
        </div>
      </div>
    </nav>
    <header class="bg-dark py-4">
      <div class="container px-4 px-lg-4 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">The best snacks for you!</h1>
          <p class="lead fw-normal text-white-50 mb-0">Why not one more?</p>
        </div>
      </div>
    </header>
    <p class="notice alert-light"><%=notice%></p>
    <p class="alert alert-light" role="alert"><%=alert%></p>
    <%= yield %>
  </body>
</html>
